.p{
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.bold{
    font-weight: bold;
}
.h2{
    color : white;text-align: center;
}

.delete{
    width: 2rem;
    background-color: red;opacity: 0.7;border-radius: 2px;border: none;
    padding: 5px;
}

.greenDot{
    font-size: 1rem;color: green;
}