.mainDiv{
  max-width: 500px;
  margin: 5rem auto;
}

.passError{
  color:red
}

.container {
    width: 300px;
    background-color:#ffcc99;border-radius: 1rem;
    margin: 5rem auto;color: #333333;
  }
  
  .form {
    padding: 20px;
  }
  .h2{text-align: center;}
  
  .label{margin-top:2rem;font-weight: 550;font-size: 1.2rem;}

  .input{max-width: 400px;box-sizing: border-box;box-shadow: none;}

  .btnPrimary {
    background-color: #fca311;
    border-color: #fca311;
    margin: 1rem auto;border: none;border-radius: 5px;margin-top: 1.5rem;
    max-width: 10rem;padding: 0.4rem 1rem;
  }
  
  .btnPrimary:hover {
    background-color: #e85d04;
    border-color: #e85d04;
  }
  